body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: "Inter", sans-serif;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 120px;
    padding-bottom:60px;
    margin: 0 auto;
    display: block;
}

h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 32spx;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

main .title {
    text-align: center;
}

main .me{
    padding-top: 40px;
    text-align: center;
}

main .me img {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: block;
}

main .me p {
    padding-top: 60px;
}

main .sosmed img {
    width: 30px;
    height: 30px;
    margin: auto;
}

main .sosmed img[alt="Email"] {
    width: 40px;
    height: 30px;
}

main .sosmed {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
}

main .sosmed a {
    margin: 10px;
}

.contact-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.aboutme {
    background-color: #fff;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 120px;
    padding-bottom:120px;
}

.aboutme-head h1 {
    font-size: 32px;
    color: #333;
    padding-top: 12px;
    padding-bottom: 20px;
}

.aboutme-head h2 {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 720px;
    border-radius: 24px;
} 

.aboutme-item p {
    font-size: 16px;
    color: #666;
    /* margin-right: 240px; */
}

.skills {
    background-color: #f4f4f4;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 120px;
    padding-bottom:120px;
}

.skills h1 {
    font-size: 32px;
    color: #333;
    padding-top: 12px;
    padding-bottom: 12px;
}

.skills-head h2 {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 710px;
    border-radius: 24px;
}

.skills p {
    font-size: 16px;
    color: #333;
    padding-bottom: 24px;
    margin-right: 400px
}

.skills-item {
    text-align: right; /* Mengatur teks dan elemen ke kanan */
}

.skills-item img {
    width: auto;
    height: 50px;
    margin-right: 20px;
}

.experience {
    background-color: #f4f4f4;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom:10px;
}

article {
    background-color: #fff;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    padding-bottom:30px;
}

.cv-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}



.projects {
    background-color: #fff;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 60px;
    padding-bottom:60px;
}

.projects h2 {
    font-size: 24px;
    color: #333;
}

.tab {
    margin-top: 20px;
}

.tab button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.figure-container {
    display: flex;
  }
  
.figure-container img {
    width: 300px;
    height: auto;
}

.explore-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.hire_me {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.hire_me h1 {
    font-size: 36px;
    color: #333;
}

.hire-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer h2 {
    font-size: 36px;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
    overflow: hidden;
}

tr, th, td {
    border: 1px solid #f2f2f2;
}
  
footer img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
